@import url("https://fonts.googleapis.com/css2?family=Syncopate:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sora&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
}

.landing {
  text-align: center;
}

.bHeader {
  font-family: "Lato", sans-serif;

  font-size: 6rem;
  /* text-decoration: underline black 7px; */
}
/* GAME COMPONENT STYLES*/
.row1 {
}
.cont {
  height: 100vh;
  width: 100vw;
  background-color: cornflowerblue;
}
.row2 {
  height: 40%;
  width: 55%;
  margin: auto;
}

table {
  background-color: white;
}

td {
  border-color: black;
  border-style: solid;
  border-width: 2px;
}

.square1 {
  height: 125px;
  width: 125px;
  /* background-color: #555; */
}
.square2 {
  height: 120px;
  width: 120px;
  background-color: #555;
}

.square3 {
  height: 120px;
  width: 120px;
  background-color: #555;
}

.square4 {
  height: 120px;
  width: 120px;
  background-color: #555;
}

.square5 {
  height: 120px;
  width: 120px;
  background-color: #555;
}

.square6 {
  height: 120px;
  width: 120px;
  background-color: #555;
}

.square7 {
  height: 120px;
  width: 120px;
  background-color: #555;
}

.square8 {
  height: 120px;
  width: 120px;
  background-color: #555;
}

.square9 {
  height: 120px;
  width: 120px;
  background-color: #555;
}

table,
th,
td {
  /* border: 1px transparent; */
}
td {
  border-radius: 100%;
}

table {
  margin: 0 auto;
  border-spacing: 30px;
}
