@import url("https://fonts.googleapis.com/css2?family=Syncopate:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sora&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Bariol;
  src: url(../src/fonts/bariol_regular-webfont.eot);
  src: url(../src/fonts/JKAbodeDemo.woff) format("woff"),
    url(../src/fonts/bariol_regular-webfont.woff2) format("woff2"),
    url(../src/fonts/bariol_regular-webfont.svg) format("svg"),
    url(../src/fonts/bariol_regular-webfont.ttf) format("truetype");
}

body {
  background-color: #b2beb5;
}

.landing {
  text-align: center;
  width: 100%;
  height: 100vh;
  background-color: black;
}

.bHeader {
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  font-size: 6rem;
  /* text-decoration: underline black 7px; */
}

.Lbutton {
  width: 100px;
  height: 50px;
  font-size: 20px;
  text-transform: uppercase;
  background-color: transparent;
  border-radius: 10%;
  border-color: transparent;
  color: transparent;
  -webkit-transition: background-color 0.6s;
  transition: background-color 0.6s;
}

.Lbutton:hover {
  background-color: white;
  color: black;
}

/* background: hsla(359, 94%, 62%, 1);

background: linear-gradient(
  90deg,
  hsla(359, 94%, 62%, 1) 0%,
  hsla(21, 89%, 56%, 1) 11.11111111111111%,
  hsla(33, 94%, 55%, 1) 22.22222222222222%,
  hsla(20, 94%, 63%, 1) 33.33333333333333%,
  hsla(42, 93%, 64%, 1) 44.44444444444444%,
  hsla(94, 38%, 59%, 1) 55.55555555555556%,
  hsla(162, 43%, 46%, 1) 66.66666666666666%,
  hsla(178, 30%, 43%, 1) 77.77777777777777%,
  hsla(208, 25%, 45%, 1) 88.88888888888889%,
  hsla(198, 61%, 39%, 1) 100%
); */

/* background: hsla(231, 82%, 6%, 1);

background: linear-gradient(
  90deg,
  hsla(231, 82%, 6%, 1) 0%,
  hsla(339, 80%, 12%, 1) 11.11111111111111%,
  hsla(354, 93%, 22%, 1) 22.22222222222222%,
  hsla(358, 97%, 31%, 1) 33.33333333333333%,
  hsla(0, 100%, 41%, 1) 44.44444444444444%,
  hsla(12, 98%, 44%, 1) 55.55555555555556%,
  hsla(23, 97%, 46%, 1) 66.66666666666666%,
  hsla(34, 95%, 49%, 1) 77.77777777777777%,
  hsla(39, 96%, 50%, 1) 88.88888888888889%,
  hsla(43, 100%, 52%, 1) 100%
); */

/* background: hsla(0, 100%, 84%, 1);

  background: linear-gradient(
    90deg,
    hsla(0, 100%, 84%, 1) 0%,
    hsla(33, 100%, 82%, 1) 12.5%,
    hsla(62, 100%, 86%, 1) 25%,
    hsla(110, 100%, 87%, 1) 37.5%,
    hsla(185, 100%, 80%, 1) 50%,
    hsla(217, 100%, 81%, 1) 62.5%,
    hsla(249, 100%, 85%, 1) 75%,
    hsla(300, 100%, 89%, 1) 87.5%,
    hsla(60, 100%, 99%, 1) 100%
  ); */

/* GAME COMPONENT STYLES*/
.StartBcont {
  text-align: center;
  background: hsla(278, 100%, 36%, 1);

  background: linear-gradient(
    90deg,
    hsla(278, 100%, 36%, 1) 0%,
    hsla(263, 60%, 48%, 1) 11.11111111111111%,
    hsla(239, 53%, 59%, 1) 22.22222222222222%,
    hsla(213, 64%, 59%, 1) 33.33333333333333%,
    hsla(203, 69%, 59%, 1) 44.44444444444444%,
    hsla(194, 73%, 59%, 1) 55.55555555555556%,
    hsla(188, 70%, 61%, 1) 66.66666666666666%,
    hsla(180, 66%, 63%, 1) 77.77777777777777%,
    hsla(171, 80%, 69%, 1) 88.88888888888889%,
    hsla(163, 100%, 75%, 1) 100%
  );
  background-size: 400% 400%;
  animation: gradient 4s ease infinite;
  height: 100vh;
  width: 100vw;
  display: inline-block;
  align-items: center;
  justify-content: center;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.profile {
  float: right;
  margin-right: 1%;
  margin-top: 1%;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 1.2rem;
}

.title {
  font-size: 8em;
  padding-top: 10%;
  letter-spacing: 8px;
  font-family: "Fredoka One", cursive;
}

.title2 {
  font-size: 8em;
  letter-spacing: 8px;
  font-family: "Fredoka One", cursive;
}

.colourbutton {
  /* width: 30vw; */
  /* height: 20vh; */
  letter-spacing: 2px;
  background-color: transparent;
  border-color: transparent;
  font-size: 3em;
  padding: 1.5%;
  margin-top: 5%;
  /* margin-bottom: 20%; */
  font-family: "Fredoka One", cursive;
  /* font-family: "ClickuperRegular";
  font-weight: bold;
  font-style: normal; */
  -webkit-transition: color 0.4s;
  transition: color 0.4s;
}

.colourbutton:hover {
  color: transparent;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: black;
}

.colourbutton-2 {
  /* width: 30vw; */
  /* height: 20vh; */
  letter-spacing: 2px;
  background-color: transparent;
  border-color: transparent;
  font-size: 3em;
  padding: 1.5%;
  /* margin-bottom: 20%; */
  font-family: "Fredoka One", cursive;
  /* font-family: "ClickuperRegular";
  font-weight: bold;
  font-style: normal; */
  -webkit-transition: color 0.4s;
  transition: color 0.4s;
}

.colourbutton-2:hover {
  color: transparent;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: black;
}

.LoginContainer {
  background: rgb(255, 255, 255);
  height: 100vh;
  width: 100vw;
  align-items: center;
  /* justify-content: center; */
  /* text-align: center; */
  /* display: inline-block; */
  display: flex;
  flex-direction: column;
}

.logintitle {
  font-size: 4em;
  padding-top: 2%;
  padding-bottom: 3%;
  font-family: "Fredoka One", cursive;
}

.Username {
  width: 25%;
}

.Password {
  width: 25%;
}

.loginbutton {
  font-family: "Lato", cursive;
  color: black;
  border: 1px solid black;
  height: 5%;
  width: 25%;
  margin-top: 2%;
  /* margin-bottom: 2%; */
  border-radius: 5px;
  background-color: transparent;
  font-size: 20px;

  -webkit-transition: color 0.8s;
  transition: color 0.8s;
}

.loginbutton:hover {
  color: white;
  -webkit-text-stroke-color: white;
  background-color: black;
}

.row1 {
}
.cont {
  height: 100vh;
  width: 100vw;
  background-color: cornflowerblue;
}
.row2 {
  height: 40%;
  width: 55%;
  margin: auto;
}

.error {
  color: red;
}

table {
  background-color: transparent;
}

td {
  border-color: black;
  border-style: solid;
  border-width: 2px;
}

.square1 {
  height: 19vh;
  width: 19vh;
  /* background-color: #555; */
}
.square2 {
  height: 19vh;
  width: 19vh;
  background-color: #555;
}

.square3 {
  height: 19vh;
  width: 19vh;
  background-color: #555;
}

.square4 {
  height: 19vh;
  width: 19vh;
  background-color: #555;
}

.square5 {
  height: 19vh;
  width: 19vh;
  background-color: #555;
}

.square6 {
  height: 19vh;
  width: 19vh;
  background-color: #555;
}

.square7 {
  height: 19vh;
  width: 19vh;
  background-color: #555;
}

.square8 {
  height: 19vh;
  width: 19vh;
  background-color: #555;
}

.square9 {
  height: 19vh;
  width: 19vh;
  background-color: #555;
}

table,
th,
td {
  /* border: 1px transparent; */
}
td {
  border-radius: 100%;
}

table {
  margin: 0 auto;
  border-spacing: 30px;
}

.levelcont {
  text-align: center;
}

.showlevel {
  font-size: 10rem;
  font-family: "Fredoka One", cursive;
}

/* GAME OVER SCREEN*/

.Gameovercont {
  height: 100vh;
  width: 100vw;
  text-align: center;
  background: #e52d27; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #b31217,
    #e52d27
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #b31217,
    #e52d27
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.GameOverTitle {
  font-size: 9rem;
  font-family: "Fredoka One", cursive;
  color: black;
}

.score {
  font-size: 5rem;
  font-family: "Fredoka One", cursive;
  color: black;
}

.Restartbutton {
  /* width: 400px;
  height: 100px; */
  padding: 1.5%;
  background-color: transparent;
  border-color: transparent;
  font-size: 2em;
  margin-top: 10px;
  font-family: "Fredoka One", cursive;
  border: black 2px solid;
  -webkit-transition: border-color 0.4s;
  transition: border-color 0.4s;
}

.Restartbutton:hover {
  background-color: black;
  color: #e52d27;
}

.wrongcolour {
  height: 150px;
  width: 150px;
  background-color: aqua;
}

.rightcolour {
  height: 150px;
  width: 150px;
  background-color: blue;
  border-right: 10px solid black;
}

.results {
  padding-top: 1%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.endcircle1 {
  height: 10vh;
  width: 10vh;
  /* background-color: #555; */
}
.endcircle2 {
  height: 10vh;
  width: 10vh;
  background-color: #555;
}

.endcircle3 {
  height: 10vh;
  width: 10vh;
  background-color: #555;
}

.endcircle4 {
  height: 10vh;
  width: 10vh;
  background-color: #555;
}

.endcircle5 {
  height: 10vh;
  width: 10vh;
  background-color: #555;
}

.endcircle6 {
  height: 10vh;
  width: 10vh;
  background-color: #555;
}

.endcircle7 {
  height: 10vh;
  width: 10vh;
  background-color: #555;
}

.endcircle8 {
  height: 10vh;
  width: 10vh;
  background-color: #555;
}

.endcircle9 {
  height: 10vh;
  width: 10vh;
  background-color: #555;
}
